<div class="mb-3 card card-body">
    <%= tweet.body %>
    <div class="d-flex align-items-center mb-4">
        <div class="me-4">
            <%= image_tag(tweet.twitter_account.image, class: "rounded-circle") %>
            <%= link_to "@#{tweet.twitter_account.username}", "https://x.com/#{tweet.twitter_account.username}", target: :_blank %>

        <% if tweet.published? %>
            <%= link_to "View Tweet", "https://x.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :_blank, class: "btn btn-primary" %>
        <% else %>
            <!-- `l` is a Rails helper method that formats dates (localization) -->
            Scheduled for <%= l tweet.publish_at, format: :long %>
            <%= link_to "Edit Tweet", edit_tweet_path(tweet), class: "btn btn-outline-primary" %>
            <%= link_to "Unschedule Tweet", tweet_path(tweet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        <% end %>
        </div>
    </div>
</div>